NODE_ENV=production
DATABASE_URL=postgresql://<user>:<password>@<internal-host>:5432/<db-name>
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
